@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #232533;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #232533;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* width */
::-webkit-scrollbar {
  width: 13px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #232533;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1E1E2D;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #353551;
}